@keyframes scroll{
  0%{
    background-position-x: 0px;
  }

  100%{
    background-position-x: -620px;
  }
}

@keyframes playerIdle{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1200px;
  }
}

@keyframes playerWalk{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1200px;
  }
}

@keyframes playerJump{
  0%{
    bottom: 50px;
    background-position-x: 0px;

  }
  10%{
    bottom: 90px;
  }
  30%{
    bottom: 120px;
  }
  45%{
    bottom: 125px;
  }
  50%{
    bottom: 160px;
  }
  65%{
    bottom: 125px;
  }
  80%{
    bottom: 120px;
  }
  90%{
    bottom: 90px;
  }
  100%{
    bottom: 50px;
    background-position-x: -360px;
    background: url('img/characters/player/fall.png');
  }
}

@keyframes playerJumpAlt{
  0%{
    bottom: 50px;
    background-position-x: 0px;

  }
  10%{
    bottom: 90px;
  }
  30%{
    bottom: 120px;
  }
  45%{
    bottom: 125px;
  }
  50%{
    bottom: 160px;
  }
  65%{
    bottom: 125px;
  }
  80%{
    bottom: 120px;
  }
  90%{
    bottom: 90px;
  }
  100%{
    bottom: 50px;
    background-position-x: -360px;
    background: url('img/characters/playeralt/fall.png');
  }
}

@keyframes playerDie{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1080px;
  }
}

@keyframes playerWin{
  0%{
    background-position-x: 0px;
  }
  100%{
    background-position-x: -1080px;
  }
}

@keyframes collisionJump{
  0%{
    bottom: 104px;
  }
  10%{
    bottom: 144px;
  }
  30%{
    bottom: 174px;
  }
  45%{
    bottom: 179px;
  }
  50%{
    bottom: 214px;
  }
  65%{
    bottom: 179px;
  }
  80%{
    bottom: 174px;
  }
  90%{
    bottom: 144px;
  }
  100%{
    bottom: 104px;
  }
}

@keyframes coinFloat{
  0%{
    background-position-x: 0px;
    left: 700px;;
  }
  16.6%{
    left: 525px;
  }
  33.2%{
    left: 350px;
  }
  49.8%{
    left: 175px;
    background-position-x: -180px;
  }
  66.4%{
    left: 0px;
  }
  83%{
    left: -175px;
  }
  100%{
    left: -350px;
    background-position-x: 0px;
  }
}

@keyframes coinPicked{
  0%{
    left: 43px;
    opacity: 1;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    left: 43px;
    display: none;
    opacity: 0;
    bottom: 250px;
  }
}

@keyframes batFly{
  0%{
    background-position-x: -29px;
    left: 700px;
  }
  16.6%{
    left: 525px;
  }
  33.2%{
    left: 350px;
  }
  49.8%{
    left: 175px;
  }
  66.4%{
    left: 0px;
  }
  83%{
    left: -175px;
  }
  100%{
    left: -350px;
    background-position-x: 463px;
  }
}

@keyframes ghostWalk{
  0%{
    background-position-x: -20px;
    left: 700px;
  }
  16.6%{
    left: 525px;
  }
  33.2%{
    left: 350px;
  }
  49.8%{
    left: 175px;
  }
  66.4%{
    left: 0px;
  }
  83%{
    left: -175px;
  }
  100%{
    left: -350px;
    background-position-x: 429px;
  }
}
#score{
  position: absolute;
  color: #FFFFF0;
  left: 5px;
  top: 5px;
  z-index: 1000;
}

#startButton{
  position: absolute;
  left: 285px;
  top: 130px;
  z-index: 1000;
}

#hurtboxButton{
  position: absolute;
  left: 500px;
  top: 0px;
  z-index: 1000;
}

#skinButton{
  position: absolute;
  left: 255px;
  top: 160px;
  z-index: 1000;
}

.runner{
  position: relative;
  margin: 0 auto;
  width: 620px;
  height: 400px;
  overflow: hidden;
}

#character{
  height: 120px;
  width: 120px;
  position: absolute;
  transform: scale(2);
  image-rendering: pixelated;
  bottom: 50px;
}

#chara-collision{
  height: 40px;
  width: 20px;
  position: absolute;
  left: 50px;
  bottom: 104px;
}

#chara-collision.show{
  border-style: solid;
  border-color: red;
}

#chara-collision.jump{
  animation: collisionJump 1s forwards;
}

.coin{
  height: 20px;
  width: 20px;
  position: absolute;
  transform: scale(2);
  image-rendering: pixelated;
  bottom: 90px;
}

.flyingCoin{
  height: 20px;
  width: 20px;
  position: absolute;
  transform: scale(2);
  image-rendering: pixelated;
  bottom: 180px;
}

.coin.float, .flyingCoin.float{
  background: url('img/characters/pickup/coin3_20x20.png');
  animation: coinFloat 3s steps(9) forwards;
}

.coin.picked, .flyingCoin.picked{
  background: url('img/characters/pickup/coin3_20x20.png');
  animation: coinPicked 0.5s steps(9) forwards;
}

#character.idle{
  background: url('img/characters/player/idle.png');
  animation: playerIdle 2s steps(10) infinite;
}

#character.idle.alt{
  background: url('img/characters/playeralt/idle.png');
}

#character.walk{
  background: url('img/characters/player/run.png');
  animation: playerWalk 1s steps(10) infinite;
}

#character.walk.alt{
  background: url('img/characters/playeralt/run.png');
}

#character.jump{
  background: url('img/characters/player/jump.png');
  animation: playerJump 1s steps(2) forwards;
}

#character.jump.alt{
  background: url('img/characters/playeralt/jump.png');
  animation: playerJumpAlt 1s steps(2) forwards;
}

#character.die{
  background: url('img/characters/player/death.png');
  animation: playerDie 1s steps(9) forwards;
}

#character.die.alt{
  background: url('img/characters/playeralt/death.png');
}

#character.win{
  background: url('img/characters/player/win.png');
  animation: playerWin 1s steps(9) forwards; 
}

#character.win.alt{
  background: url('img/characters/playeralt/win.png');
}

.bat{
  height: 25px;
  width: 20px;
  position: absolute;
  transform: scale(3);
  image-rendering: pixelated;
  background: url('img/characters/bat/Idle_Flying.png');
  animation: batFly 3s steps(6) forwards;
  left: 30px;
  bottom: 180px;
  background-position-y: -29px;
}

.ghost{
  height: 45px;
  width: 25px;
  position: absolute;
  transform: scale(2);
  image-rendering: pixelated;
  left: 30px;
  bottom: 90px;
  background: url('img/characters/ghost/ghost-idle.png');
  background-position-y: -20px;
  animation: ghostWalk 3s steps(7) forwards;
}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: repeat-x;
  background-size: contain;
}

#results{
  position: absolute;
  color: #FFFFF0;
  left: 222px;
  top: 300px;
  z-index: 1000;
}

#layer-1{
  background-image: url(img/parallax/1.png);
}

#layer-1.active{
  animation: scroll 20s infinite linear;
}

#layer-2{
  background-image: url(img/parallax/2.png);
}

#layer-2.active{
  animation: scroll 15s infinite linear;
}

#layer-3{
  background-image: url(img/parallax/3.png);
}

#layer-3.active{
  animation: scroll 10s infinite linear;
}

#layer-4{
  background-image: url(img/parallax/4.png);
}

#layer-4.active{
  animation: scroll 5s infinite linear;
}

#layer-5{
  background-image: url(img/parallax/5.png);
}

#layer-5.active{
  animation: scroll 3s infinite linear;
}

.tutorialbox{
  height: 250px;
}